.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 250px;
  width: 250px;
  border: 2px dashed #333;
  border-radius: 6px;
}
.area {
  width: 200px;
  height: 200px;
  place-content: center;
}

.area h3,
.area p {
  margin: 0 auto;
}
.area p {
  font-size: 14px;
  color: #666;
}
#box-a {
  background: khaki;
}
#box-b {
  background: yellow;
  padding: 30px;
}
#box-c {
  background: orange;
  padding: 30px;
  border: 10px solid #333;
}
#box-d {
  background: orchid;
  padding: 30px;
  border: 10px solid #333;
  margin: 50px 0px 5px 15px;
}
#box-static {
  background: pink;
}
#box-relative {
  background: yellowgreen;
  position: relative;
  top: 30px;
  left: 20px;
}
#box-absolute {
  background: tomato;
  position: absolute;
  top: 2px;
  right: 5px;
}
#box-fixed {
  background: tomato;
  position: fixed;
  border: 1px;
  margin: 10px;
}